<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jospin.DeepSound.DeepSoundShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Jospin.DeepSound.DeepSoundShell.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>SystemDefault</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value/>
            </setting>
        </Jospin.DeepSound.DeepSoundShell.Properties.Settings>
    </userSettings>
</configuration>
